@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import 'coursemology.org/variables';
@import 'application';

@mixin box-shadow($v-shadow, $blur, $spread) {
  -webkit-box-shadow: 0 $v-shadow $blur $spread $gray-light;
  -moz-box-shadow: 0 $v-shadow $blur $spread $gray-light;
  box-shadow: 0 $v-shadow $blur $spread $gray-light;
}

.navbar-inverse {
  @include box-shadow(0, 8px, -3px);
  border-bottom: 1px solid $gray-lighter;
  border-top: 4px solid $cyan;

  .navbar-brand {
    border-right: 1px solid $gray-lighter;
    color: $gray-darker;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;

    &:hover {
      color: $cyan;
    }
  }

  .navbar-nav > li > a {
    font-family: 'Varela Round', sans-serif;

    &:hover {
      color: $cyan;
    }
  }

  .navbar-toggle {
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }

    .icon-bar {
      background-color: $cyan;
    }
  }
}

footer {
  border-top: 1px solid $gray-lighter;
  color: $gray-light;

  p {
    padding-top: ($grid-gutter-width / 2);
  }

  .nav-pills {
    .footer-link {
      a {
        color: $gray-light;
      }

      a:hover {
        background: transparent;
        color: $cyan;
      }
    }
  }
}
